* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.header {
    font-size:15px;
}
.grid-container {
    background-color: #8cbe29;
}
.middle {
    color: #fbfbfb;
}
#leftNav, .right {
    background-color: #64981a;
}

.right_img {
    width: 400px;
    height: 300px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #7aae22;
  }
  
  li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #8cbe29;
    color: white;
  }
  
@media (max-width: 1291px) {
    .header {
        font-size: 25px;
    }
    .right_img {
        width: 267px;
        height: 200px;
    }
}
@media (max-width: 952px) {
    .header {
        font-size: 23px;
    }
    .right_img {
        width: 200px;
        height: 150px;
    }
}
@media (max-width: 786px) {
    .header {
        font-size: 18px;
    }
    .right_img {
        width: 160px;
        height: 120px;
    }
}