* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #161616;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
h1, h2, h3, h4 {
    font-weight: 600;
}

h1 {
    text-align: center;
}
p.synopsis {
    line-height: 170%;
}
.heading {
    padding: 10px;
    margin: 0;
    /* text-align: center; */
}
 #summary {
    padding: 10px 10px 0 10px;
 }
#main_content {
    width: 800px;
    margin:auto;
}

#stationary {
    padding: 5px;
    background-color: cornsilk;
}
